<h1>All Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.title, category_path(category) %>
    </li>
  <%end%>
</ul>

<li><%= link_to "Post a new Article", new_article_path%> </li>
