<h1> Your article was posted successfully </h1>
<h2> To edit your article, you will need to use the following link</h2>

<a href="/articles/<%=@article.id%>/<%=@article.key%>">
  /articles/<%=@article.id%>/<%=@article.key%></a>
